/* You can add global styles to this file, and also import other style files */
@import "~fullcalendar/dist/fullcalendar.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tab-label {
	height: 26px !important;
    padding: 0 5px !important;
    background-color:  #333 !important;
    color: white;
/*    height: 48px;
    padding: 0 24px;*/
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 100px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    border: 2px solid #333 !important;
    border-radius: 5px !important;
    /*color: white !important;*/
    font-weight: 900 !important;
    font-family: sans-serif ;
    margin: 1px;
}
.mat-tab-group {
    display: flex;
    flex-direction: column;
    width: 98%;

}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #3f51b5;
    width: 100px;
}

.example-icon {
    padding: 0 14px;
    vertical-align: bottom;
    font-size: 24px;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 33px !important;
    padding: 0 4px;
    background: #333;
    border: #5289bf;
    color: white;
}
.mat-expansion-panel-header{
	height: 30px !important;
}
.mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: normal !important;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.mat-toolbar{
    background: #333 !important;
}
